@tailwind base;
@tailwind components;
@tailwind utilities;


  /*===========================================================
                        Custom font
  ============================================================*/
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('poppins-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('poppins-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('poppins-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('poppins-v23-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('poppins-v23-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('poppins-v23-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('poppins-v23-latin-500.eot'); /* IE9 Compat Modes */
  src: url('poppins-v23-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('poppins-v23-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('poppins-v23-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('poppins-v23-latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('poppins-v23-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('poppins-v23-latin-600.eot'); /* IE9 Compat Modes */
  src: url('poppins-v23-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('poppins-v23-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('poppins-v23-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('poppins-v23-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('poppins-v23-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('poppins-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: url('poppins-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('poppins-v23-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('poppins-v23-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('poppins-v23-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('poppins-v23-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}



/* dm-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('dm-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('dm-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('dm-sans-v16-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('dm-sans-v16-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('dm-sans-v16-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('dm-sans-v16-latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
}
/* dm-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('dm-sans-v16-latin-500.eot'); /* IE9 Compat Modes */
  src: url('dm-sans-v16-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('dm-sans-v16-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('dm-sans-v16-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('dm-sans-v16-latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('dm-sans-v16-latin-500.svg#DMSans') format('svg'); /* Legacy iOS */
}
/* dm-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  src: url('dm-sans-v16-latin-600.eot'); /* IE9 Compat Modes */
  src: url('dm-sans-v16-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('dm-sans-v16-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('dm-sans-v16-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('dm-sans-v16-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('dm-sans-v16-latin-600.svg#DMSans') format('svg'); /* Legacy iOS */
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('dm-sans-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: url('dm-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('dm-sans-v16-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('dm-sans-v16-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('dm-sans-v16-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('dm-sans-v16-latin-700.svg#DMSans') format('svg'); /* Legacy iOS */
}


/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('karla-v32-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('karla-v32-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('karla-v32-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('karla-v32-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('karla-v32-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('karla-v32-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('karla-v32-latin-500.eot'); /* IE9 Compat Modes */
  src: url('karla-v32-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('karla-v32-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('karla-v32-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('karla-v32-latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('karla-v32-latin-500.svg#Karla') format('svg'); /* Legacy iOS */
}


/*===========================================================
                    variable css
============================================================*/
:root{
  --site-primary-color: #000000;
  --site-secondary-color: #FFFFFF;

  --primary-font: 'DM Sans', serif;
  --secondary-font: 'Poppins', serif;
  --third-font: 'Karla', serif;
}


/*==========================================================
                        common css
===========================================================*/

body{
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-family: var(--primary-font);
  font-weight: 300;
  color: var(--site-primary-color);
}

html {
  font-size: 100%;
}

.wd-base-container{
  max-width: 77.6rem;
  width: 100%;
  margin: 0 auto;
  padding-left: .9375rem;
  padding-right: .9375rem;
}


.wd-section-headline{
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: normal;
  font-size: 1.7625rem;
  line-height: 1.7625rem;
  text-align: center;
}


.wd-section-btn a{
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: normal;
  font-size: 28.1px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  color: var(--site-primary-color);
  box-shadow: 0rem 0.109375rem 0.21875rem 0rem #00000040;
  border-radius: 0.81875rem;
  padding: 0.69rem 1.471rem;
  min-width: 19rem;
}


p > strong{
  font-weight: 700;
}

@media (min-width: 1024px) {
  .wd-section-headline{
      font-size: 2rem;
  }
}
@media (min-width: 1440px) {
  .wd-section-headline{
      font-size: 2.2rem;
      padding-bottom: 10px;
  }
}
@media (min-width: 120.0625rem) {
  html {
    font-size: 120%;
  }

  .base-container {
    max-width: 90rem;
  }
}

@media (min-width: 156.25rem) {
  html {
    font-size: 130%;
  }
}

@media (min-width: 218.75rem) {
  html {
    font-size: 140%;
  }
}


@media (max-width: 350px) {
  .wd-section-btn a{
    font-size: 20px;
    min-width: 15rem;
  }
}

/*==========================================================
                     Header
===========================================================*/




/*==========================================================
                     home banner
===========================================================*/


/*==========================================================
                     what we expect
===========================================================*/

.wd-what-we-expect .wd-section-btn a{
  background-color: #CC9196;
}
.wd-what-we-expect .wd-section-btn a:hover{
  background-color: #db7c84;
}

.button-list li{
  font-weight: 400;
  font-size: .75rem;
  line-height: 100%;
  letter-spacing: -1%;
}

.button-list li{
  position: relative;
  padding-left: 10px;
}
.button-list li::before{
  content: url("right-sign.svg");
  position: absolute;
  top: 0;
  left: 0;
}


/*==========================================================
                     what we expect
===========================================================*/




/*==========================================================
                     cocktail product
===========================================================*/
.wd-coktail-product-wrapper{
  max-width: 40rem;
  margin: 0 auto;
}

.cocktail-content{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.3125rem;
  color: var(--site-secondary-color);
}

.single-timeline:not(:last-child){
  padding-bottom: 1rem;
}

.single-timeline h3{
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.1;
  letter-spacing: 0;
}

.single-timeline p{
  font-weight: 400;
  font-style: normal;
  font-size: 0.716875rem;
  line-height: 1.2;
  letter-spacing: 0;
}

.single-timeline::before{
    content: '';
    position: absolute;
    top: 8px;
    left: 1.5rem;
    width: .59625rem;
    height: .59625rem;
    border-radius: 50%;
    background-color: #686868;
    transform: translate(-50%, -50%);
    transition: .3s ease-in;
    z-index: 20;
}

.single-timeline:not(:last-child):after{
    content: "";
    position: absolute;
    top: 8px;
    left: 1.5rem;
    width: .0425rem;
    height: 100%;
    background-color: #686868;
    z-index: 1;
    display: block;
    transform: translateX(-50%);
}


.single-timeline:not(:last-child) .timeline-line{
  content: "";
  position: absolute;
  top: 8px;
  left: 1.5rem;
  width: .0425rem;
  height: 100%;
  background-color: #42AAFF;
  z-index: 2;
  display: block;
  transform: translateX(-50%);
}

.single-timeline.active:before{
    background-color: #42AAFF;
}



/* featured product */

.feature-product .wd-section-btn a{
  background: linear-gradient(90deg, #0060AE 0%, #42AAFF 100%);
  color: var(--site-secondary-color);
}

.feature-product .wd-section-btn a:hover{
  background: linear-gradient(1800deg, #0060AE 0%, #42AAFF 100%);
  color: var(--site-secondary-color);
  transition: .3s ease-in-out;
}

.featured-product-img,
.feature-product-content{
  max-width: 50%;
  flex: 0 0 50%;
}

.feature-product-content h3{
  font-weight: 700;
  font-size: 1.26625rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .featured-product-img,
  .feature-product-content{
    max-width: 100%;
    flex: 0 0 100%;
  }
}